URxvt.font: xft:Fantasque Sans Mono:style=Regular:size=13
! URxvt.boldFont: xft:Fantasque Sans Mono:style=Bold:size=13
! URxvt.font: xft:monospace:size=12
URxvt.scrollBar: false
URxvt.letterSpace: -1

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! Extensions
URxvt.perl-ext-common: default,matcher,resize-font
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show

URxvt.depth: 32

! ------------------------------------------------------------------------------
! Colors
URxvt.background: [90]#232323
URxvt.foreground: #A0A0A0

URxvt.colorBD:    #CFCFCF
URxvt.colorUL:    #A0A0A0
URxvt.colorIT:    #686868

!BLK
URxvt.color0:     #303030
URxvt.color8:     #686868

!RED
URxvt.color9:     #FFA7DA
URxvt.color1:     #D370A3

!GRN
URxvt.color10:    #A3D572
URxvt.color2:     #6D9E3F

!BLU
URxvt.color12:    #98CBFE
URxvt.color4:     #6095C5

!YEL
URxvt.color11:    #EFBD8B
URxvt.color3:     #B58858

!CYN
URxvt.color14:    #75DAA9
URxvt.color6:     #3BA275

!MAG
URxvt.color13:    #E5B0FF
URxvt.color5:     #AC7BDE

!WHT
URxvt.color7:     #CFCFCF
URxvt.color15:    #FFFFFF
! ------------------------------------------------------------------------------

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! Use extended color scheme
rofi.color-enabled:                  true
! Color scheme for normal row
rofi.color-normal:                   argb:a02f1e2e, #b4b4b4, argb:a02f1e2e, argb:54815ba4, #ffffff
! Color scheme for urgent row
rofi.color-urgent:                   argb:272f1e2e, #ef6155, argb:2f2f1e2e, argb:54815ba4, #ef6155
! Color scheme for active row
rofi.color-active:                   argb:272f1e2e, #815ba4, argb:2f2f1e2e, argb:54815ba4, #815ba4
! Color scheme window
rofi.color-window:                   #2f1e2e, argb:36ef6155, argb:2fef6155
! Separator style (none, dash, solid)
rofi.separator-style:                dash
